/* Inserta tu codigo CSS aqui */
/*HEADER-NAVEGADOR*/
.header {
	background: rgba(255, 255, 255, 0.09);
	border: 1px solid rgba(255, 255, 255, 0.27);
	padding: 1%;
}
.header nav a {
	font-size: 1em;
	font-style: none;
	color: rgba(255, 255, 255, 0.67);
	padding-left: 5%;	
}

/*--bg-header--*/
.bg-header {
	background: url(../img/header.jpg) no-repeat;
	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
}
.text-header{
	text-align: center;
	color: white;
	text-decoration: none;
}
.text-header h2 {
	font-weight: bold;
	font-size: 3.7em;
	padding: 22% 0 2% 0;
}
.text-header p{
	padding: 2% 3% 5%;
	font-size: 1.2em;
}
.button{
	border:1px solid #F05F40;
	background: #F05F40;
}


/*NAVEGADOR-DEL-PORTAFOLIO*/
.portafolio {
	background: #F05F40;
}
.nav-portafolio {
	background: rgba(255, 255, 255, 0.09);
	border: 1px solid rgba(255, 255, 255, 0.27);
	padding: 1%;
}
.nav-portafolio nav a {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.67);
	padding-left: 5%;
	text-decoration: none;
}
.perfil {
	color:white;
	padding-bottom: 8%;
}
.service{
	padding: 3% 15% 3% 15%;
}
.service i{
	color:#F05F40;
	font-size: 5rem;
}
.service h3{
	font-size: 2rem;
}
.service p{
	font-size: 1.2rem;
	color: #777777;
}
.caja1{
	background:url(../img/portfolio/1.jpg)no-repeat;
}
.caja2{
	background:url(../img/portfolio/2.jpg)no-repeat;
}
.caja3{
	background:url(../img/portfolio/3.jpg)no-repeat;
}
.caja4{
	background:url(../img/portfolio/4.jpg)no-repeat;
}
.caja5{
	background:url(../img/portfolio/5.jpg)no-repeat;
}
.caja6{
	background:url(../img/portfolio/6.jpg)no-repeat;
}
.size{
	background-size: 100%;
	height: 37vh;
	margin:0;
	padding: 0;	
}
.size:hover{
               -moz-transform: scale(1);
               -webkit-transform: scale(1);
               -o-transform: scale(1,2));
               -ms-transform: scale(1);
               transform: scale(1.05);          
} 
#github{
	background: #222222;
	padding:2%;
}
#github p{
	color: white;
	font-size: 2.2rem;
	margin-bottom: 1%;
}
#github a{
	color: #222222;
	text-decoration: none;
	font-size: 0.9rem;
	font-weight: bold;
	padding: 1% 2%;
	border-radius: 20px;
	background: white;
}
.pie{
	padding: 2% 25%;
}
hr{
	width: 50px;
	height: 2px;
	background: #F05F40;
}
.pie i{
	font-size: 30px;
}
.email{
	color: #F05F40;
}
@media (max-width: 768px) {
	.fondo{
		background-color: rgba(240,95,64,0.8);
		background-size: 100%;
		height: 29vh;
		color:white;
	}
	.fondo h2{
		font-weight: bold;
		padding: 6%;
		margin: 0px;
	}
	.size {
	    background-size: 100%;
	    height: 29vh;
	}
	.pie{
		padding: 0;
	}
	.pie p{
		font-size: 1rem;
	}
}
